@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root {
    --branco-principal: #FFFFFF;
    --cinza-segundaria: #C0C0C0;
    --botao-azul: #167DF7;
    --botao-azul-efeito: #0f65ce;
    --cor-de-fundo: #00030C;

    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 55% 45%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    text-align: center;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
    font-weight: bold;
}

.botao_segundario {
    background-color: transparent;
    border: 1px solid white;
}

.botao_segundario:hover {
    background-color: var(--branco-principal);
    color: var(--cor-de-fundo);
    font-weight: bold;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-segundaria);
}

.segundario {
    align-items: center;
    margin: 0 10em;
}

.segundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.2em;
}

.descricao__texto {
    color: var(--cinza-segundaria);
}

.segundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.segundario__descricao {
    padding: 5em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 15em 3em 5em 3em;
}

.rodape__lista {
    display: flex;
    margin-top: 1em;
    list-style-type: none;
    justify-content: center;
}

.lista__link a{
    text-decoration: none;
    color: var(--cinza-segundaria);
    margin-left: 1em;
    font-size: 16px;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: darkblue;
}

.rodape__texto {
    color: var(--cinza-segundaria);
    margin: 1em 0;
    font-size: 14px;
}